<div class="form-container">
    <h1>Add Employee</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="input" type="text" name="name" [(ngModel)]="employee.name" required ngModel #name="ngModel" id="name"
                placeholder="Enter your name">
            <div class="error" *ngIf="name.touched && name.invalid">Enter your name.</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="input" type="text" name="email" [(ngModel)]="employee.email" required ngModel email #email="ngModel" id="email"
                placeholder="Enter your email">
            <div class="error" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors?.['required']">Enter your email.</div>
                <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input class="input" type="text" name="phone" required [(ngModel)]="employee.phone" ngModel #phone="ngModel" id="phone"
                placeholder="Enter your phone">
            <div class="error" *ngIf="phone.touched && phone.invalid">Enter your phone number.</div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input class="input" type="text" name="address" required [(ngModel)]="employee.address" ngModel #address="ngModel" id="address"
                placeholder="Enter your address">
            <div class="error" *ngIf="address.touched && address.invalid">Enter your address.</div>
        </div>
        <div class="button-container">
            <button type="submit" class="submit-btn">Add Employee</button>
        </div>
    </form>
</div>
